.menu-bar {
	display:none;
	z-index:1000;
}

.menu {
	background:#023859;
	z-index:1000;
}

header {
	width: 100%;
    margin:0;
}

header nav {
	z-index:1000;
	max-width: 100%;
	width: 100%;
	margin:0;
	background:#023859;
}

header nav ul {
	list-style:none;
	margin-bottom: 0;
}

header nav ul li {
	display:inline-block;
	/*La razon por la que no usamos floar en vez de inline-block es
	porque no vamos a poder usar overflows en el header nav ul*/
	position: relative;
}

header nav ul li:hover .children {
	display: block;
}

/*Submenu*/
header nav ul li .children {
	background:#011826;
	position: absolute;
	display: none;
	width: 150%;
	z-index: 1000;
}

header nav ul li .children li {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
	/*Usamos overflow hidden porque aqui si vamos a necesitar usar float*/
}

header nav ul li .children li a {
	display: block;
}

header nav ul .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right: 0px;
	margin-left:10px;
}

header nav ul li a {
	color:#fff;
	text-decoration: none;
	display: inline-block;
	padding:20px;
}

header nav ul li:hover {
	background:#E6344A;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li .caret {
	position: relative;
	top: 1px;
	margin-left: 10px;
	margin-right: 0;
}

@media screen and (max-width:800px) {
    body {
        padding-top:80px;
    }
	.menu-bar {
		width: 100%;
		background:#E6344A;
		display: block;
		position: fixed;
		top:0;
	}

	.menu-bar .bt-menu {
		display: block;
		padding: 20px;
		color:#fff;
		overflow: hidden;
		font-size:25px;
		font-weight:bold;
		text-decoration: none;
	}

	.menu-bar span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		right:100%; 
		margin: 0;
		position:fixed;
		overflow:scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children{
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
		/*display: block;*/
	}

	header nav ul li .children li a{
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	}
}